<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">

        <!-- Logo -->
        <a class="navbar-brand" href="/listings">
            <i class="fa-regular fa-compass"></i>
        </a>

        <div class="navbar-nav nav-title">
            <a class="nav-link" href="/listings">Explore</a>
        </div>
        <div class="mx-auto search-bar">
            <form method="get" action="/listings/search" role="search">
                <input name="search" class="search-input" type="search" placeholder="Search destinations"
                    aria-label="Search" />
                <button class="search-btn" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i> Search
                </button>
            </form>
        </div>

        <!-- Toggle Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible Links -->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <button id="themeToggle" class="btn theme-btn btn-sm ">
                    <i class="fa-solid fa-circle-half-stroke"></i>
                </button>
                <a class="nav-link" href="/listings/new">Airbnb your home</a>

                <% if (!currUser) { %>
                    <a class="nav-link" href="/signup"><b>Sign up</b></a>
                    <a class="nav-link" href="/login"><b>Log in</b></a>
                    <% } %>

                        <% if (currUser) { %>
                            <a class="nav-link" href="/logout"><b>Log out</b></a>
                            <% } %>
            </div>
        </div>
    </div>
</nav>